[run]
# Omitir diretórios ou arquivos específicos
omit =
    manage.py
    palavra/asgi.py
    palavra/wsgi.py
    palavra/*
    core/migrations/*
    core/templatetags/__init__.py
    */__init__.py
    
include = core/*

[report]
# Linhas para ignorar na contagem de cobertura
exclude_lines =
    # Ignore as linhas com pragma: no cover
    pragma: no cover
    # Ignorar blocos if __name__ == '__main__':
    if __name__ == .__main__.:
