{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Palavra</title>

        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="icon" href="{% static 'img/assets/Logo - Wordle Vetor.png' %}" />
    </head>
    <body>
        <header class="cabecalho">
            <nav class="cabecalho__navegacao">
                <div class="cabecalho__logo">
                    <svg class="cabecalho__logo-imagem" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="16.6667" height="16.5289" rx="3" fill="white"/>
                        <rect x="0.5" y="0.5" width="15.6667" height="15.5289" rx="2.5" stroke="#999999" stroke-opacity="0.5"/>
                        <rect x="16.6667" width="16.6667" height="16.5289" rx="3" fill="white"/>
                        <rect x="17.1667" y="0.5" width="15.6667" height="15.5289" rx="2.5" stroke="#999999" stroke-opacity="0.5"/>
                        <rect x="33.3333" width="16.6667" height="16.5289" rx="3" fill="white"/>
                        <rect x="33.8333" y="0.5" width="15.6667" height="15.5289" rx="2.5" stroke="#999999" stroke-opacity="0.5"/>
                        <rect y="16.7355" width="16.6667" height="16.5289" rx="3" fill="white"/>
                        <rect x="0.5" y="17.2355" width="15.6667" height="15.5289" rx="2.5" stroke="#999999" stroke-opacity="0.5"/>
                        <rect x="16.6667" y="16.7355" width="16.6667" height="16.5289" rx="3" fill="#FFD952"/>
                        <rect x="17.1667" y="17.2355" width="15.6667" height="15.5289" rx="2.5" stroke="#999999" stroke-opacity="0.5"/>
                        <rect x="33.3333" y="16.7355" width="16.6667" height="16.5289" rx="3" fill="var(--cor-primaria)"/>
                        <rect x="33.8333" y="17.2355" width="15.6667" height="15.5289" rx="2.5" stroke="#999999" stroke-opacity="0.5"/>
                        <rect y="33.4711" width="16.6667" height="16.5289" rx="3" fill="var(--cor-primaria)"/>
                        <rect x="0.5" y="33.9711" width="15.6667" height="15.5289" rx="2.5" stroke="#999999" stroke-opacity="0.5"/>
                        <rect x="16.6667" y="33.4711" width="16.6667" height="16.5289" rx="3" fill="var(--cor-primaria)"/>
                        <rect x="17.1667" y="33.9711" width="15.6667" height="15.5289" rx="2.5" stroke="#999999" stroke-opacity="0.5"/>
                        <rect x="33.3333" y="33.4711" width="16.6667" height="16.5289" rx="3" fill="var(--cor-primaria)"/>
                        <rect x="33.8333" y="33.9711" width="15.6667" height="15.5289" rx="2.5" stroke="#999999" stroke-opacity="0.5"/>
                    </svg>
                    <span class="cabecalho__logo-nome">PALAVRA</span>
                </div>

                <div class="cabecalho__autenticacao">
                    <a href="{% url 'entrar' %}" class="cabecalho__botao">
                        Entre
                    </a>
                    
                    <a href="{% url 'cadastrar' %}" class="cabecalho__botao">
                        Cadastre-se
                    </a>
                </div>
            </nav>
        </header>

        <main class="pagina__conteudo">
            <section class="pagina__container">
                <div class="pagina__informacoes">
                    <div class="pagina__informacoes__texto" id="texto-animado">
                        Qual será a palavra de hoje? Algum tema em mente? 
<!-- DEIXAR A LINHA ALINHADA À ESQUERDA PARA O EFEITO DE DIGITAÇÃO -->
Você tem 6 chances de descobrir uma palavra de 5 letras 👀     
                    </div>
                    <div class="pagina__jogar">
                        <a href="{% url 'jogo' %}" class="pagina__jogar__botao">
                            jogar
                        </a>
                    </div>
                </div>
                
                <div class="pagina__logo">
                    <div class="pagina__logo__imagem">
                        <svg width="344" height="346" viewBox="0 0 344 346" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.5" y="0.5" width="113.667" height="113.38" rx="9.5" fill="white" stroke="#999999"/>
                            <rect x="115.167" y="0.5" width="113.667" height="113.38" rx="9.5" fill="white" stroke="#999999"/>
                            <rect x="229.833" y="0.5" width="113.667" height="113.38" rx="9.5" fill="white" stroke="#999999"/>
                            <rect x="0.5" y="116.31" width="113.667" height="113.38" rx="9.5" fill="white" stroke="#999999"/>
                            <rect x="115.167" y="116.31" width="113.667" height="113.38" rx="9.5" fill="#FFD952" stroke="#999999"/>
                            <rect x="229.833" y="116.31" width="113.667" height="113.38" rx="9.5" fill="#0CCABA" stroke="#999999"/>
                            <rect x="0.5" y="232.12" width="113.667" height="113.38" rx="9.5" fill="#0CCABA" stroke="#999999"/>
                            <rect x="115.167" y="232.12" width="113.667" height="113.38" rx="9.5" fill="#0CCABA" stroke="#999999"/>
                            <rect x="229.833" y="232.12" width="113.667" height="113.38" rx="9.5" fill="#0CCABA" stroke="#999999"/>
                        </svg>     
                    </div>

                    <div class="pagina__logo__nome">
                        palavra
                    </div>
                </div>
            </section>
        </main>

        <!-- FOOTER -->
        {% include "footer.html" %}

        <script src="{% static 'js/index.js' %}"></script>
    </body>
</html>