@import url('colors.css');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

/* Estilos gerais de layout */
html, body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cabecalho__navegacao {
    width: 100%;
    padding: 1rem 0;
}

.cabecalho__logo {
    text-align: center;
    width: 56%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 28pt;
    color: var(--cor-primaria);
}

.conteudo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 3.5rem 0rem;
}

.conteudo__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 85%;
    max-height: 100%;
}

.conteudo__texto-informativo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14pt;
    gap: 1rem;
}

.conteudo__texto-informativo__subtitulo {
    text-align: center;
}

.conteudo__texto-informativo__subtitulo a:hover {
    color: var(--cor-primaria);
}

.conteudo__cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.conteudo__cadastro form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 45vh;
}

.conteudo__cadastro__input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}

.cadastro__error {
    width: 80%;
    text-align: center;
    color: red;
    line-height: 2;
}

.errorlist li {
    margin-top: 10px;
}

.errorlist li:first-child {
    margin-top: 0px;
}

.login,
.cadastro {
    background-color: #fff;
    width: 100%;
    text-align: center;
}

.login h1,
.cadastro h1 {
    color: #000;
    font-size: 34px;
    margin-bottom: 3vh;
}

.login p,
.cadastro p {
    font-size: 24px;
    width: 500px;
    margin-bottom: 10vh;
    line-height: 1.2;
    color: var(--cor-fonte);
    margin: 0 auto;
}

/* Estilo do formulário */
.form-control {
    font-family: 'Bungee', cursive;
    font-size: 24px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 12px;
    border: 2px solid var(--borda-campo);
}

/* Botão de cadastrar */
.pagina__botao {
    background-color: var(--cor-fonte);
    color: #fff;
    padding: 15px;
    width: 200px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

.pagina__botao:hover {
    background-color: var(--cor-primaria);
}

/* Inputs */
input[type="text"], input[type="password"], input[type="email"] {
    font-family: 'Bungee', cursive !important;
    font-size: 18px;
    width: 450px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 12px;
    border: 2px solid var(--cor-bordas-gerais);
    color: var(--cor-fonte);
    text-align: center;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border-color: var(--cor-primaria);
}

input::placeholder {
    color: #000;
    opacity: 0.5;
}

/* Mensagem de erro */
.error {
    color: var(--erro);
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

/* Links */
.pagina__link {
    color: var(--cor-primaria);
    text-decoration: underline;
    font-size: 16px;
}

.pagina__link:hover {
    color: var(--cor-primaria-hover);
}
